header h1 a {
    color : deeppink;
    text-decoration: none;
}
header {
    border-bottom: 1px solid deeppink;
    margin-bottom: 2rem;
    display: flex;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}
.nav-left {
    margin-right: auto;
}
.nav-right {
    display: flex;
    padding-top: 2rem;
}
.post-entry {
    margin-bottom: 2rem;
}
.post-entry h2 a,
.post-entry h2 a:visited{
    color: plum;
    text-decoration: none;
}
.post-entry p {
    margin: 0;
    font-weight: 400;
}
.post-entry h2 a:hover {
    color: aquamarine;
}